@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap");

:root {
  --primary-white: white;
  --primary-gray: lightgray;
  --primary-darkgray: rgb(58, 58, 58);
  --primary-dark: rgba(255, 0, 0, 0);
  --primary-black: black;
  --primary-blue: rgb(110, 110, 252);
}

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 3.125rem 1.875rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: bolder !important;
  line-height: 1.5;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  font-family: "Andada Pro" !important;
  font-style: italic;
  background-color: var(--primary-blue) !important;
}

/************ NAV ************/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-brand {
  color: var(--primary-blue) !important;
  margin-left: 0.25rem;
  padding: 0.125rem;
}

.navbar-nav > li > a {
  color: var(--primary-gray);
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
  text-decoration: none;
}

.navbar-nav > li a.active,
.navbar-nav > li > a:active:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-blue);
  background-color: var(--primary-blue) !important;
  border-bottom: 0.1875rem solid lightgray;
  border-radius: 15%;
  color: black;
}

/************ TOP TITLES ************/

.title {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
}

/************ HOME ************/

.homeSection {
  position: relative;
  background: url(./assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.homeIntro {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeIntro h1 {
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/************ ABOUT ************/

.aboutSection {
  position: relative;
  background: url(./assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
}

.profilePic {
  padding: 0.625rem;
  height: 20%;
  width: 20%;
  border-radius: 50%;
}

/************ PROJECTS ************/

.portfolioSection {
  position: relative;
  background: url(./assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
}

.wrapper {
  padding: 0.625rem;
  height: 100%;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.card {
  border: 0.125rem solid var(--primary-darkgray) !important;
  border-radius: 0.313rem;
  height: 25rem;
  margin: 2rem;
  position: relative;
  width: 25rem;
}

.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 0.313rem 0.313rem 0 0;
}

.card .imgContainer img {
  width: 100%;
  padding: 1.563rem;
  margin-bottom: 1.25rem;
  background-color: var(--primary-gray);
}

.card .content {
  font-size: 1.125rem;
  color: var(--primary-darkgray);
  font-weight: bold;
  text-align: center;
}

#card-title {
  margin-top: 0.625rem;
  color: var(--primary-black);
}

#project-icon {
  padding: 0.313rem;
}

#topics {
  font-size: small;
  font-style: italic;
}

/************ CONTACT ************/

input,
textarea {
  background-color: var(--primary-gray) !important;
  border: 0.063rem solid var(--primary-darkgray) !important;
}

/************ RESUME ************/

.link {
  text-decoration: none;
  color: var(--primary-darkgray);
}

.link:hover {
  color: var(--primary-gray);
}

/************ FOOTER ************/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.icon {
  padding: 0.625rem;
}
